<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile - Test</title>
    </head>
    <body>
        <h1>Profile</h1>
    {% if user %}
        <p>Username: {{ users.username }}</p>
        <p>Email: email: {{ users.email }}</p>
        <p>Created: {{ users.create_date }}</p>
        <p>Last Login: {{ users.last_login|default:"Never" }}</p>
    {% else %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>